@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #848C9B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0 0 3rem;
    min-height: 100vh;
}

h5 {
    color: #fff;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 0;
}

.day {
    width: 200px;
}

.currentWeather {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weather-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.weatherState {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    flex-direction: column;
    margin-top: 2rem;
}

.weatherState .temp {
    font-size: 3rem;
}

.weather {
    background-color: #CED1D6;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
    margin: 2rem;
    position: relative;
}

.nextDay {
    color: #A2A1A2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    letter-spacing: 0.5px;
}

img {
    width: 32px;
}