@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #2E2A68;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0 0 3rem;
    min-height: 100vh;
}

main {
    flex-wrap: wrap;
    background-color: #666db9;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    align-items: flex-end;
}

form {
    height: 50px;
}

i {
    padding-right: 10px;
}

input {
    background-color: aliceblue;
    border: 2px solid #a0a2c9;
    border-radius: 30px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin-bottom: 2rem;
}

.ghprofile {
    background-color: #8a82f2;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.left {
    padding: 1.5rem;
    padding-left: 50px;
}

.profilePic {
    border-radius: 50%;
    border: solid indigo 1rem;
    width: 250px;
}

.right {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.name {
    color: white;
}

.bio {
    color: #D0D1DB;
    padding-right: 1rem;
}

.metrics {
    display: flex;
    position: relative;
    top: 100px;
    padding-right: 1rem;
}

.repos, .following, .followers {
    padding-right: 30px;
}