@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

header {
    background-color: #373b69;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    width: 100%;
}

header input {
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 30px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

header input::placeholder {
    color: #7378c5;
}

header input:focus {
    background-color: #22254b;
    outline: none;
}

.movies {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: #373b69;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
    margin: 2rem;
    position: relative;
}

.movie img {
    width: 100%;
    transition: .5s ease;
  backface-visibility: hidden;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info span {
    background-color: #272532;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
}

.movie-info h3 {
    margin: 0;
}

.ratingGreen {
    color: rgb(39, 189, 39);
}

.ratingOrange {
    color: orange;
}

.ratingRed {
    color: rgb(189, 42, 42);
}

.synopsis {
    background-color: white;
    /* position: absolute;
    top: 50%;
    transition: .5s ease;
    backface-visibility: hidden; */

    transition: .5s ease;
    opacity: 0;
    position: absolute;
    /* top: 50%; */
    transform: translate(0%, -58%);
    text-align: center;
    backface-visibility: hidden; 
}

.movie:hover img {
    opacity: 0.3;
}
  
.movie:hover .synopsis {
    opacity: 1;
}
  